<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="container justify-content-center">
        <h3>Reset Password</h3>
        <div class="form-Group">
            <label for="loginemail" 
                   class="form-label">Email</label><br>
            <input type="text" 
                   name="email" 
                   ngModel required #email="ngModel"
                   class="form-control" 
                   id="loginemail" 
                   placeholder="Enter Username"><br><br>
        </div>
        <div class="form-Group">
            <label for="password" 
                   class="form-label">Old Password</label><br>
            <input type="password" 
                   name="password" 
                   ngModel required #password="ngModel"
                   class="form-control" 
                   id="password" 
                   placeholder="Enter Old Password"><br><br>
        </div>
        <div class="form-Group">
            <label for="new-password" class="form-label">New Password</label><br>
            <input type="password" 
                   name="newpassword" 
                   ngModel required #newpassword="ngModel" 
                   class="form-control" 
                   id="new-password" 
                   placeholder="Enter New Password"><br><br>
        </div>
        <button type="submit" 
                [disabled]="f.invalid"
                class="btn">Submit</button>
    </div>
</form>
