.container
{
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    box-shadow: 10px solid black;
}
form{
    /* background-color: rgb(248, 245, 252); */
    width: 30%;
    text-align: center;
    margin: 100px 500px 100px 500px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
}
input{
    margin: 5px;
    padding: 5px;
    text-align: center;
}
label{
    margin: 5px;
    padding: 5px;
    margin-top: 20px;
    font-size: 20px;

}
button
{
    font-size: 20px;
    background-color: #10a0e9;
    margin: 10px;
    border-radius: 5px;
    color: white;
    width: 30%;
}
h3{
    margin-top: -50px;
    font-size: 20px;
    font-weight: bolder;
    color: black;
}